include README.rst
include CHANGELOG.rst
include CONTRIBUTORS.rst
include LICENSE.txt
include requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.py Makefile make.bat
